---
import { Document } from '@astropub/doc'
---
<Document title="Astro Doc">
	<h1>
		Astro Doc
	</h1>
	<p>
		<strong>Astro Doc</strong> helps you create document layouts for your site.
	</p>
	<p>
		You might need to view the source to see what that means.
	</p>
</Document>