---
import { Document } from '@astropub/doc'
---
<Document title="Astro Document">
	<h1>
		Astro Document
	</h1>
	<p>
		<strong>Astro Document</strong> helps you create document layouts for your site.
	</p>
</Document>